import { initializeApp } from "firebase/app";
import { getFirestore } from "firebase/firestore";
import { getAuth } from "firebase/auth";
import { getStorage } from "firebase/storage";

const firebaseConfig = {
  apiKey: "",
  authDomain: "",
  projectId: "",
  storageBucket: "",
  messagingSenderId: "",
  appId: "",
  measurementId: ""
};

// Initialize Firebase
export const app = initializeApp(firebaseConfig);
console.log('App initialized.', app);
export const db = getFirestore();
console.log('Database connected.', db);
export const auth = getAuth();
console.log('Authentication retreived.', auth);
export const storage = getStorage();
console.log('Storage retrieved', storage);